Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

build:docker:
  image: docker:dind
  interruptible: true
  stage: build
  tags:
  - docker
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build:apt:
  image: debian:bookworm-slim
  interruptible: true
  stage: build
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  - source version.env
  - apt-get update -qq && apt-get install -qq -y build-essential
  - mkdir build
  - cp -r .DEBIAN build/DEBIAN
  - chmod -R 0775 build/DEBIAN
  ...

build:pacman:
  image: archlinux:base-devel
  interruptible: true
  stage: build
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  - pacman -Syu --noconfirm git
  - useradd --no-create-home --shell=/bin/false build && usermod -L build
  - 'echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  ...

test:debian:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:ubuntu:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:archlinux:
  image: archlinux:base
  needs:
  - job: build:pacman
    artifacts: true
  script:
  - pacman -Sy
  - pacman -U --noconfirm *.pkg.tar.zst

code styling
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  .PKGBUILD/PKGBUILD
  .gitlab-ci.yml
Due: build:pacman, test:archlinux

fixes
  .gitlab-ci.yml
Due: none

added unraid section
  .UNRAID/FastAPI-DLS.xml
  README.md
Due: none

added setup_vgpu_license.sh script
  .UNRAID/setup_vgpu_license.sh
  README.md
Due: none

Aktualisieren .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

improvements
  .gitlab-ci.yml
Due: none

removed "linux/arm/v7"
  .gitlab-ci.yml
Due: none

set specific arm64 version to v8
  .gitlab-ci.yml
Due: none

secret detection
  .gitlab-ci.yml
Due: none

added Roadmap
  README.md
  ROADMAP.md
Due: none

added 15.2 to supported versions
  README.md
Due: none

fixed nvidia-smi path on windows
  README.md
Due: none

updated docker image requirements.txt
  requirements.txt
Due: none

updated sudo / su commands (list sudo fist instead of su)
  README.md
Due: none

improved docker build with "ARG" instead of using "version.env" which is not present on local builds (because it's created by ci-pipeline)
  .gitlab-ci.yml
  Dockerfile
Due: build:docker

requirements.txt updated
  requirements.txt
Due: none

typos
  ROADMAP.md
Due: none

removed debian bookworm testing notes
  README.md
Due: none

implemented endpoint to remove expired leases
  app/main.py
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed .gitlab-ci.yml deprecated build-ref varialbes
  .gitlab-ci.yml
Due: none

code styling
  app/main.py
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented Site and Instance orm models including initialization
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  test/main.py
Due: none

improved relationships
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fastapi openapi url
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

orm improvements & fixes
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

migrated api to database-config (Site, Instance)
  app/main.py
  app/util.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

requirements.txt updated
  Dockerfile
  requirements.txt
Due: build:docker

docker-compose.yml - added note for TZ
  docker-compose.yml
Due: none

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*
  build:pacman: any of: app/**/*, .PKGBUILD/**/*
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*
