Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*

fixed logging
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Reverse Engineering Notes.md bearbeiten
  doc/Reverse Engineering Notes.md
Due: none

code styling
  README.md
Due: none

updated Reverse Engineering Notes.md
  doc/Reverse Engineering Notes.md
Due: none

migrated from "pycryptodome" to "cryptography"
  .DEBIAN/control
  .DEBIAN/requirements-bookworm-12.txt
  .DEBIAN/requirements-ubuntu-24.04.txt
  .DEBIAN/requirements-ubuntu-24.10.txt
  .PKGBUILD/PKGBUILD
  app/main.py
  app/util.py
  requirements.txt
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed "cryptography" dependency
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

created PrivateKey / PublicKey wrapper classes
  app/main.py
  app/util.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed test deprecations
  test/main.py
Due: none

code styling
  app/main.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed tests
  test/main.py
Due: none

moved Reverse Engineering Notes to separate project
  doc/Database.md
  doc/Reverse Engineering Notes.md
Due: none

removed doc directory
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

requirements.txt updated
  requirements.txt
Due: none

fixes
  README.md
Due: none

moved the only two FAQ entries to Known-Issues on README
  FAQ.md
  README.md
Due: none

added some glfm
  README.md
Due: none

typos
  README.md
Due: none

updated EOLs
  README.md
Due: none

.gitlab-ci.yml
  .gitlab-ci.yml
Due: build:apt, build:pacman

.gitignore
  .gitignore
Due: none

fixes
  requirements.txt
Due: none

fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

code refactorings after merge from main
  app/main.py
  app/orm.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/main.py
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/main.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated default data
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added NixOS Pull-Request note for official "nixpkgs"
  README.md
Due: none

serve drivers directly via api if configured
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated create_driver_matrix_json.py
  test/create_driver_matrix_json.py
Due: none

do not run duplicated pipeline on feature-branches
  .gitlab-ci.yml
Due: build:apt, build:pacman

ci fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

Datei .gitlab-ci.yml aktualisieren
  .gitlab-ci.yml
Due: build:apt, build:pacman

updated new responses for 18.x drivers
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added debugging
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

also debug response
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux
