Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*

link to proxmox-installer.sh and credits
  README.md
Due: none

requirements.txt updated
  requirements.txt
Due: none

test image matrix
  .gitlab-ci.yml
Due: build:apt, build:pacman

added ubuntu-24.04 "requirements-ubuntu-24.04.txt"
  .DEBIAN/requirements-ubuntu-24.04.txt
  .gitlab-ci.yml
Due: build:apt, build:pacman, test:debian, test:ubuntu

added test matrix for python3.12
  .gitlab-ci.yml
Due: build:apt, build:pacman

added Ubuntu 24.04 as supported
  README.md
Due: none

updated supported vGPU releases
  README.md
Due: none

typos
  README.md
Due: none

added link to gpu support matrix
  README.md
Due: none

fixed [[__TOC__]] to [TOC] to support "markdown" package
  README.md
Due: none

import fixes
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling & improved logging
  app/main.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

rearranged imports
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

show if debug is enabled on app startup
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

migrated from deprecated "startup" to "lifespan" hook (fastapi)
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling & comments
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

set log format
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added way to include driver version in api
  app/main.py
  app/orm.py
  app/util.py
  test/create_driver_matrix_json.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/main.py
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

README reorganized
  README.md
Due: none

README updated
  README.md
Due: none

updated to new vgpu page
  test/create_driver_matrix_json.py
Due: none

refactorings
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated support matrix
  README.md
Due: none

updated support matrix (removed EOL)
  README.md
Due: none

README.md updated
  README.md
Due: none

updated to python 3.12
  Dockerfile
Due: build:docker

improved gitlab test matrix
  .gitlab-ci.yml
Due: build:apt, build:pacman

Dockerfile - updated db dependencies
  Dockerfile
Due: build:docker
