Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

build:docker:
  image: docker:dind
  interruptible: true
  stage: build
  tags:
  - docker
  before_script:
  - docker buildx inspect
  - docker buildx create --use
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - IMAGE=$CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA
  ...

build:apt:
  image: debian:bookworm-slim
  interruptible: true
  stage: build
  before_script:
  - echo -e "VERSION=$VERSION\nCOMMIT=$CI_COMMIT_SHA" > version.env
  - apt-get update -qq && apt-get install -qq -y build-essential
  - mkdir build
  - cp -r .DEBIAN build/DEBIAN
  - chmod -R 0775 build/DEBIAN
  ...

build:pacman:
  image: archlinux:base-devel
  interruptible: true
  stage: build
  before_script:
  - pacman -Syu --noconfirm git
  - useradd --no-create-home --shell=/bin/false build && usermod -L build
  - 'echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  - 'echo "root ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  ...

test:debian:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:ubuntu:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:archlinux:
  image: archlinux:base
  needs:
  - job: build:pacman
    artifacts: true
  script:
  - pacman -Sy
  - pacman -U --noconfirm *.pkg.tar.zst

added python3-pip to test
  .gitlab-ci.yml
Due: build:apt, build:pacman

typings
  .gitlab-ci.yml
Due: build:apt, build:pacman

debugging
  .gitlab-ci.yml
Due: build:apt, build:pacman

added requirements for ubuntu 24.10
  .DEBIAN/requirements-ubuntu-24.10.txt
Due: build:apt, test:debian, test:ubuntu

fixed test matrix
  .gitlab-ci.yml
Due: build:apt, build:pacman

fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

ci improvements
  .gitlab-ci.yml
Due: build:apt, build:pacman

sql query improvements
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed timezone in json response
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added "delete_expired" method for leases
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented basic ui
  .PKGBUILD/PKGBUILD
  app/main.py
  app/static/assets/css/bootstrap-icons.min.css
  app/static/assets/css/bootstrap.min.css
  app/static/assets/css/custom.css
  app/static/assets/css/dashboard.css
  app/static/assets/fonts/bootstrap-icons.woff
  app/static/assets/fonts/bootstrap-icons.woff2
  app/static/assets/img/favicons/android-chrome-192x192.png
  app/static/assets/img/favicons/android-chrome-512x512.png
  app/static/assets/img/favicons/apple-touch-icon.png
  app/static/assets/img/favicons/favicon-16x16.png
  app/static/assets/img/favicons/favicon-32x32.png
  app/static/assets/img/favicons/favicon.ico
  app/static/assets/img/favicons/manifest.json
  app/static/assets/img/logo.png
  app/static/assets/js/bootstrap.min.js
  app/static/assets/js/helper.js
  app/static/assets/js/popper.min.js
  app/templates/components/navbar.html
  app/templates/components/sidebar.html
  app/templates/layouts/base.html
  app/templates/layouts/bootstrap-dashboard.html
  app/templates/layouts/bootstrap.html
  app/templates/views/dashboard.html
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
  app/templates/views/dashboard_readme.html
  app/templates/views/index.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added config values to dashboard
  app/static/assets/js/helper.js
  app/templates/views/dashboard.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed imports and tests
  test/main.py
Due: none

added jinja2 dependency
  .DEBIAN/control
  .PKGBUILD/PKGBUILD
  requirements.txt
Due: build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

sort origins by hostname
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

sort leases by expires
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed origin table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed timezone handling
  app/main.py
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented delete origin endpoint for frontend
  app/main.py
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed refreshing data after deleting some origin or lease
  app/static/assets/js/helper.js
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

display hostname as title on leases table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented refresh button
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

PKGBUILD - fixed jinja dependency
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

dashboard_origins.html - implemented confirmation before deleting all origins
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed origin null pointer exception on leases table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

helper.js - added "lease_renewal" to table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented button for delete all expired leases
  app/static/assets/js/helper.js
  app/templates/views/dashboard_leases.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed Origin.delete()
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

removed "url_for" to prevent proxy http/https missmatch
  app/templates/layouts/base.html
  app/templates/layouts/bootstrap.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed layouts path
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

implemented endpoint for expired origins (origins without active leases)
  app/main.py
  app/static/assets/js/helper.js
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added meta tag for "Content-Security-Policy"
  app/templates/layouts/base.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

requirements.txt updated
  requirements.txt
Due: none

improved dashboard config view
  app/main.py
  app/templates/views/dashboard.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated bootstrap to 5.3.3
  app/static/assets/css/bootstrap.min.css
  app/static/assets/js/bootstrap.min.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented origins & leases auto refresh button
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented origins & leases counter for sidebar
  app/templates/components/sidebar.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*
