Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*

added todo
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

removed todo
  test/main.py
Due: none

refactored test pipeline to test different python versions
  .gitlab-ci.yml
Due: build:apt, build:pacman

ci improvements
  .gitlab-ci.yml
Due: build:apt, build:pacman

requirements.txt updated
  requirements.txt
Due: none

fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

test python3.13 and 3.11
  .gitlab-ci.yml
Due: build:apt, build:pacman

added some python versions and added EOL
  .gitlab-ci.yml
Due: build:apt, build:pacman

removed unsupported python versions
  .gitlab-ci.yml
Due: build:apt, build:pacman

code styling
  README.md
Due: none

code styling
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/orm.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented basic ui
  .PKGBUILD/PKGBUILD
  app/main.py
  app/static/assets/css/bootstrap-icons.min.css
  app/static/assets/css/bootstrap.min.css
  app/static/assets/css/custom.css
  app/static/assets/css/dashboard.css
  app/static/assets/fonts/bootstrap-icons.woff
  app/static/assets/fonts/bootstrap-icons.woff2
  app/static/assets/img/favicons/android-chrome-192x192.png
  app/static/assets/img/favicons/android-chrome-512x512.png
  app/static/assets/img/favicons/apple-touch-icon.png
  app/static/assets/img/favicons/favicon-16x16.png
  app/static/assets/img/favicons/favicon-32x32.png
  app/static/assets/img/favicons/favicon.ico
  app/static/assets/img/favicons/manifest.json
  app/static/assets/img/logo.png
  app/static/assets/js/bootstrap.min.js
  app/static/assets/js/helper.js
  app/static/assets/js/popper.min.js
  app/templates/components/navbar.html
  app/templates/components/sidebar.html
  app/templates/layouts/base.html
  app/templates/layouts/bootstrap-dashboard.html
  app/templates/layouts/bootstrap.html
  app/templates/views/dashboard.html
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
  app/templates/views/dashboard_readme.html
  app/templates/views/index.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added config values to dashboard
  app/static/assets/js/helper.js
  app/templates/views/dashboard.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed imports and tests
  test/main.py
Due: none

added jinja2 dependency
  .DEBIAN/control
  .PKGBUILD/PKGBUILD
  requirements.txt
Due: build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed timezone handling
  app/main.py
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed origin table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

display hostname as title on leases table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

sort leases by expires
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed refreshing data after deleting some origin or lease
  app/static/assets/js/helper.js
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented refresh button
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

dashboard_origins.html - implemented confirmation before deleting all origins
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

sort origins by hostname
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented delete origin endpoint for frontend
  app/main.py
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

PKGBUILD - fixed jinja dependency
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

helper.js - added "lease_renewal" to table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed origin null pointer exception on leases table
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented button for delete all expired leases
  app/static/assets/js/helper.js
  app/templates/views/dashboard_leases.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed layouts path
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

fixed Origin.delete()
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added meta tag for "Content-Security-Policy"
  app/templates/layouts/base.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

removed "url_for" to prevent proxy http/https missmatch
  app/templates/layouts/base.html
  app/templates/layouts/bootstrap.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux
