Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*

updated bootstrap to 5.3.3
  app/static/assets/css/bootstrap.min.css
  app/static/assets/js/bootstrap.min.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

improved dashboard config view
  app/main.py
  app/templates/views/dashboard.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed setTimeout to setInterval
  app/templates/components/sidebar.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated bootstrap icons to 1.11.4
  app/static/assets/css/bootstrap-icons.min.css
  app/static/assets/fonts/bootstrap-icons.woff
  app/static/assets/fonts/bootstrap-icons.woff2
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented endpoint for expired origins (origins without active leases)
  app/main.py
  app/static/assets/js/helper.js
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented origins & leases counter for sidebar
  app/templates/components/sidebar.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented origins & leases auto refresh button
  app/templates/views/dashboard_leases.html
  app/templates/views/dashboard_origins.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added "branchVersion" to origin table (if matrix is present)
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

typos
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

merge fixes
  app/main.py
  app/orm.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated credits
  README.md
Due: none

.gitlab-ci.yml bearbeiten
  .gitlab-ci.yml
Due: build:apt, build:pacman

typos
  README.md
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

test with "76 chars per line"
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated tests
  test/main.py
Due: none

fixes
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling and tests
  app/util.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added variable for custom cert path
  README.md
  app/main.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

improved tests
  test/main.py
Due: none

updated compatibility matrix
  README.md
Due: none

typos
  README.md
Due: none

ci fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

release registry url updated
  .gitlab-ci.yml
Due: build:apt, build:pacman
