Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

build:docker:
  image: docker:dind
  interruptible: true
  stage: build
  tags:
  - docker
  before_script:
  - docker buildx inspect
  - docker buildx create --use
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - IMAGE=$CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA
  ...

build:apt:
  image: debian:bookworm-slim
  interruptible: true
  stage: build
  before_script:
  - echo -e "VERSION=$VERSION\nCOMMIT=$CI_COMMIT_SHA" > version.env
  - apt-get update -qq && apt-get install -qq -y build-essential
  - mkdir build
  - cp -r .DEBIAN build/DEBIAN
  - chmod -R 0775 build/DEBIAN
  ...

build:pacman:
  image: archlinux:base-devel
  interruptible: true
  stage: build
  before_script:
  - pacman -Syu --noconfirm git
  - useradd --no-create-home --shell=/bin/false build && usermod -L build
  - 'echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  - 'echo "root ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  ...

test:debian:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:ubuntu:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:archlinux:
  image: archlinux:base
  needs:
  - job: build:pacman
    artifacts: true
  script:
  - pacman -Sy
  - pacman -U --noconfirm *.pkg.tar.zst

updated bootstrap icons to 1.11.4
  app/static/assets/css/bootstrap-icons.min.css
  app/static/assets/fonts/bootstrap-icons.woff
  app/static/assets/fonts/bootstrap-icons.woff2
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed setTimeout to setInterval
  app/templates/components/sidebar.html
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added "branchVersion" to origin table (if matrix is present)
  app/static/assets/js/helper.js
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated ci pipeline to match current eol supported systems
  .DEBIAN/requirements-ubuntu-23.04.txt
  .DEBIAN/requirements-ubuntu-23.10.txt
  .gitlab-ci.yml
  README.md
Due: build:apt, build:pacman, test:debian, test:ubuntu

fixes
  test/main.py
Due: none

implemented "SUPPORT_MALFORMED_JSON" variable
  .PKGBUILD/PKGBUILD
  .gitlab-ci.yml
  README.md
  app/main.py
  app/middleware.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/middleware.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fix malformed json on auth
  test/main.py
Due: none

fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

fixed json payload
  test/main.py
Due: none

fixed variable names
  test/main.py
Due: none

updated supported os
  README.md
Due: none

improved logging and implemented method to reduce response mac_address_length
  app/middleware.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

typos
  app/middleware.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

code styling
  app/middleware.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

marked regex with 'r'
  app/middleware.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added "NixOS" section from mrzenc
  README.md
Due: none

implemented "fix_ip_address_list_length"
  app/middleware.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

removed "PatchMalformedJsonMiddleware" because its not working on driver site
  .PKGBUILD/PKGBUILD
  README.md
  app/main.py
  app/middleware.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

moved from deprecated "datetime.utcnow()" to "datetime.now(UTC)"
  app/main.py
  app/orm.py
  test/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

removed return statement on tests
  test/main.py
Due: none

code styling
  test/main.py
Due: none

refactored gitlab-ci
  .gitlab-ci.yml
Due: build:apt, build:pacman

renamed "python3-jose" dependency to alias of "python3-josepy" to match apt packages on debian/ubuntu
  .DEBIAN/control
Due: build:apt, test:debian, test:ubuntu

added explicit "algorithms" argument
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

updated DLS
  README.md
Due: none

disabled matrix tests for python (covered by apt jobs)
  .gitlab-ci.yml
Due: build:apt, build:pacman

added another further reading link
  README.md
Due: none

dependencies updated
  Dockerfile
  requirements.txt
Due: build:docker

updated driver releases
  README.md
Due: none

requirements.txt updated
  requirements.txt
Due: none

added notes about 18.x branch
  README.md
  doc/Reverse Engineering Notes.md
Due: none

Reverse Engineering Notes.md bearbeiten
  doc/Reverse Engineering Notes.md
Due: none

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*
