Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*
  build:pacman: any of: app/**/*, .PKGBUILD/**/*
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*

typos
  README.md
Due: none

disabled openapi endpoints
  README.md
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed overriding config file on update / reinstall
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

requirements.txt updated
  requirements.txt
Due: none

bump version to 1.3.4
  version.env
Due: none

README - improvements
  README.md
Due: none

improved docker-compose examples
  README.md
  docker-compose.yml
Due: none

fixed - sqlalchemy.exc.ArgumentError: Textual SQL expression '\nCREATE TABLE origin (\n\to...' should be explicitly declared as text('\nCREATE TABLE origin (\n\to...')
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed - The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base()
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added note to be logged in as root using manual install method (git)
  README.md
Due: none

fixed missing mkdir for config file on manual installation method
  README.md
Due: none

added openSUSE Leap 15.4 support
  README.md
Due: none

bump version to 1.3.5
  version.env
Due: none

added code-quality and test-coverage
  .gitlab-ci.yml
Due: none

fixes
  .gitlab-ci.yml
Due: none

added secret detection
  .gitlab-ci.yml
Due: none

added SAST
  .gitlab-ci.yml
Due: none

improvements
  .gitlab-ci.yml
Due: none

dependency scanning
  .gitlab-ci.yml
Due: none

added notes about database connections others than sqlite
  README.md
Due: none

added httpx dependency
  .DEBIAN/control
  requirements.txt
Due: build:apt, test:debian, test:ubuntu

implemented deserializer
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

implemented ha endpoints and configuration
  README.md
  app/main.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed fingerprints when HA is enabled
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

improvements
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added some ha notes
  README.md
Due: none

added some notes about included database drivers in docker image
  README.md
Due: none

merged dev into ha
  README.md
Due: none

fixes
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

ha improvements
  app/main.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

dont verify ssl cert on ha replication
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixes
  app/main.py
  app/orm.py
  app/util.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

styling
  README.md
Due: none

added notes about cronjob for ha
  README.md
Due: none

di improvements
  .gitlab-ci.yml
  version.env
Due: none

ci improvements
  .gitlab-ci.yml
Due: none
