Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

build:docker:
  image: docker:dind
  interruptible: true
  stage: build
  tags:
  - docker
  before_script:
  - docker buildx inspect
  - docker buildx create --use
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - IMAGE=$CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA
  ...

build:apt:
  image: debian:bookworm-slim
  interruptible: true
  stage: build
  before_script:
  - echo -e "VERSION=$VERSION\nCOMMIT=$CI_COMMIT_SHA" > version.env
  - apt-get update -qq && apt-get install -qq -y build-essential
  - mkdir build
  - cp -r .DEBIAN build/DEBIAN
  - chmod -R 0775 build/DEBIAN
  ...

build:pacman:
  image: archlinux:base-devel
  interruptible: true
  stage: build
  before_script:
  - pacman -Syu --noconfirm git
  - useradd --no-create-home --shell=/bin/false build && usermod -L build
  - 'echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  - 'echo "root ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  ...

test:debian:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:ubuntu:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:archlinux:
  image: archlinux:base
  needs:
  - job: build:pacman
    artifacts: true
  script:
  - pacman -Sy
  - pacman -U --noconfirm *.pkg.tar.zst

added support for 16.0 drivers to readme
  README.md
Due: none

added Docker supported system architectures
  README.md
Due: none

requirements.txt updated
  requirements.txt
Due: none

added linkt to driver compatibility section
  README.md
Due: none

removed todo
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

fixed versions & added 16.2 as supported
  README.md
Due: none

removed pylint
  .codeclimate.yml
Due: none

removed tests for "23.04"
  .gitlab-ci.yml
Due: build:apt, build:pacman

fixed test_coverage (fail on matrix)
  .gitlab-ci.yml
Due: build:apt, build:pacman

make tests interruptible
  .gitlab-ci.yml
Due: build:apt, build:pacman

added 16.1 as supported nvidia driver release
  README.md
Due: none

Update .codeclimate.yml
  .codeclimate.yml
Due: none

fixed CI/CD path from "/builds" to "/tmp/builds"
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

updated ubuntu from 22.10 (EOL) to 23.04
  .gitlab-ci.yml
  README.md
Due: build:apt, build:pacman

added code_quality “SOURCE_CODE” variable
  .gitlab-ci.yml
Due: build:apt, build:pacman

README.md updated
  README.md
Due: none

implemented python test matrix for different python dependencies on different os releases
  .gitlab-ci.yml
Due: build:apt, build:pacman

added code_quality debug
  .gitlab-ci.yml
Due: build:apt, build:pacman

disabled pylint
  .codeclimate.yml
Due: none

fixes
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

fixed new docker registry image path
  README.md
Due: none

fixed deploy docker
  .gitlab-ci.yml
Due: build:apt, build:pacman

fixed testing dependency
  .gitlab-ci.yml
Due: build:apt, build:pacman

added tests for Ubuntu "Mantic Minotaur"
  .DEBIAN/requirements-ubuntu-23.10.txt
  .gitlab-ci.yml
  README.md
Due: build:apt, build:pacman, test:debian, test:ubuntu

disabled code_quality debug
  .gitlab-ci.yml
Due: build:apt, build:pacman

removed "cython" from "test"
  .gitlab-ci.yml
Due: build:apt, build:pacman

fixed debian package versions
  .DEBIAN/requirements-bookworm-12.txt
Due: build:apt, test:debian, test:ubuntu

fixes
  .gitlab-ci.yml
Due: build:apt, build:pacman

run different jobs on "$CI_DEFAULT_BRANCH"
  .gitlab-ci.yml
Due: build:apt, build:pacman

fixed docker image name (gitlab registry)
  .gitlab-ci.yml
Due: build:apt, build:pacman

updated test to debian bookworm
  .gitlab-ci.yml
Due: build:apt, build:pacman

typos
  README.md
Due: none

added link to releases & release notes
  README.md
Due: none

added 17.1 as supported
  README.md
Due: none

removed biggerthanshit link
  README.md
Due: none

update vGPU Version Matrix
  README.md
Due: none

credits & further reading
  README.md
Due: none

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*, .gitlab-ci.yml
  build:pacman: any of: app/**/*, .PKGBUILD/**/*, .gitlab-ci.yml
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*
