Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

build:docker:
  image: docker:dind
  interruptible: true
  stage: build
  tags:
  - docker
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build:apt:
  image: debian:bookworm-slim
  interruptible: true
  stage: build
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  - source version.env
  - apt-get update -qq && apt-get install -qq -y build-essential
  - mkdir build
  - cp -r .DEBIAN build/DEBIAN
  - chmod -R 0775 build/DEBIAN
  ...

build:pacman:
  image: archlinux:base-devel
  interruptible: true
  stage: build
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  - pacman -Syu --noconfirm git
  - useradd --no-create-home --shell=/bin/false build && usermod -L build
  - 'echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  ...

test:debian:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:ubuntu:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:archlinux:
  image: archlinux:base
  needs:
  - job: build:pacman
    artifacts: true
  script:
  - pacman -Sy
  - pacman -U --noconfirm *.pkg.tar.zst

README.md
  README.md
Due: none

main.py - added confirmation to deleteOrigins()
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed missing servie file for DEBIAN
  .DEBIAN/conffiles
  .gitlab-ci.yml
Due: build:apt, test:debian, test:ubuntu

requirements.txt updated
  requirements.txt
Due: none

.gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fixes
  .gitlab-ci.yml
Due: none

README.md - added sunsupoorted ubuntu version
  README.md
Due: none

.gitlab-ci.yml simplified
  .gitlab-ci.yml
Due: none

Dockerfile - updated to python 3.11
  Dockerfile
Due: build:docker

typos
  README.md
Due: none

FAQ.md
  FAQ.md
  README.md
Due: none

fixes
  README.md
Due: none

bump version to 1.3.1
  version.env
Due: none

main.py - fixed empty lease origin response
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

bump version to 1.3.2
  version.env
Due: none

implemented "lease_renewal" attribute as calculated value within what period of time the license must be renewed
  app/main.py
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

removed fastapi-dls.service from conffiles
  .DEBIAN/conffiles
Due: build:apt, test:debian, test:ubuntu

migrated "[[ ]]" if statements to "[ ]"
  .DEBIAN/postinst
  .DEBIAN/postrm
Due: build:apt, test:debian, test:ubuntu

added remove "/usr/share/fastapi-dls" to "postrm"
  .DEBIAN/postrm
Due: build:apt, test:debian, test:ubuntu

mark Let's Encrypt section as optional
  README.md
Due: none

fixed client-token url and added wget als alternative to curl
  README.md
Due: none

bump version to 1.3.3
  version.env
Due: none

fixes
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

run powershell as administrator
  README.md
Due: none

refactored commands
  README.md
Due: none

fixes
  .DEBIAN/postrm
Due: build:apt, test:debian, test:ubuntu

improvements
  .DEBIAN/postrm
  .DEBIAN/prerm
Due: build:apt, test:debian, test:ubuntu

fixed logging and added current timezone info
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added system requirements and preparements
  README.md
Due: none

styling
  README.md
Due: none

added official links
  README.md
Due: none

added some comments for default values
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added variable for client-token-expire-delta
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

added startup script
  app/main.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

fixed Origin.delete()
  app/orm.py
Due: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*
  build:pacman: any of: app/**/*, .PKGBUILD/**/*
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*
