Repository GreenDamTan/fastapi-dls_mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, build:apt, build:pacman, test:debian, test:ubuntu, test:archlinux

build:docker:
  image: docker:dind
  interruptible: true
  stage: build
  tags:
  - docker
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build:apt:
  image: debian:bookworm-slim
  interruptible: true
  stage: build
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  - source version.env
  - apt-get update -qq && apt-get install -qq -y build-essential
  - mkdir build
  - cp -r .DEBIAN build/DEBIAN
  - chmod -R 0775 build/DEBIAN
  ...

build:pacman:
  image: archlinux:base-devel
  interruptible: true
  stage: build
  before_script:
  - echo "COMMIT=${CI_COMMIT_SHA}" >> version.env
  - pacman -Syu --noconfirm git
  - useradd --no-create-home --shell=/bin/false build && usermod -L build
  - 'echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers'
  ...

test:debian:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:ubuntu:
  stage: test
  needs:
  - job: build:apt
    artifacts: true
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
  - apt-get update -qq && apt-get install -qq -y jq curl
  script:
  - apt-get install -q -y ./build/build.deb --fix-missing
  ...

test:archlinux:
  image: archlinux:base
  needs:
  - job: build:pacman
    artifacts: true
  script:
  - pacman -Sy
  - pacman -U --noconfirm *.pkg.tar.zst

added code_quality “SOURCE_CODE” variable
  .gitlab-ci.yml
Due: none

added code_quality debug
  .gitlab-ci.yml
Due: none

fixed test_coverage (fail on matrix)
  .gitlab-ci.yml
Due: none

Update .codeclimate.yml
  .codeclimate.yml
Due: none

disabled code_quality debug
  .gitlab-ci.yml
Due: none

disabled pylint
  .codeclimate.yml
Due: none

removed pylint
  .codeclimate.yml
Due: none

run different jobs on "$CI_DEFAULT_BRANCH"
  .gitlab-ci.yml
Due: none

fixed CI/CD path from "/builds" to "/tmp/builds"
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

only run test matrix when "app" or "test" changes
  .gitlab-ci.yml
Due: none

make tests interruptible
  .gitlab-ci.yml
Due: none

fixes
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

removed todo
  .PKGBUILD/PKGBUILD
Due: build:pacman, test:archlinux

requirements.txt updated
  requirements.txt
Due: none

added "16.3" support
  README.md
Due: none

added "16.4" and "17.0" as supported
  README.md
Due: none

requirements.txt updated
  Dockerfile
  requirements.txt
Due: build:docker

refactored docker-compose.yml so very simple example, and moved proxy to "examples" directory
  README.md
  docker-compose.yml
  examples/docker-compose-http-and-https.yml
Due: none

added missing "pkg-config" for "mysqlclient==2.2.0"
  Dockerfile
Due: build:docker

toggle api endpoints
  README.md
Due: none

push multiarch image to docker-hub
  .gitlab-ci.yml
Due: none

fixed mariadb-client installation
  Dockerfile
Due: build:docker

typos
  README.md
Due: none

added information about ipv6 may be must disabled
  README.md
Due: none

removed mysql from included docker drivers
  README.md
Due: none

added docker command to logging section
  README.md
Due: none

improvements
  README.md
Due: none

fixed versions
  Dockerfile
Due: build:docker

docker-compose.yml - added note for TZ
  docker-compose.yml
Due: none

added 15.3 to supported drivers list
  README.md
Due: none

updated compatibility list
  README.md
Due: none

fixed "deploy:pacman"
  .gitlab-ci.yml
Due: none

added os specific requirements.txt
  .DEBIAN/requirements-bookworm-12.txt
  .DEBIAN/requirements-ubuntu-23.04.txt
Due: build:apt, test:debian, test:ubuntu

added gcc as dependency
  .gitlab-ci.yml
Due: none

updated debian bookworm 12 dependencies
  .DEBIAN/requirements-bookworm-12.txt
Due: build:apt, test:debian, test:ubuntu

added macOS as supported host (using python-venv)
  README.md
Due: none

Path conditions:
  build:docker: any of: app/**/*, Dockerfile
  build:apt: any of: app/**/*, .DEBIAN/**/*
  build:pacman: any of: app/**/*, .PKGBUILD/**/*
  test:debian: any of: app/**/*, .DEBIAN/**/*
  test:ubuntu: any of: app/**/*, .DEBIAN/**/*
  test:archlinux: any of: app/**/*, .PKGBUILD/**/*
